
#contenedor{
    width: 300px;
    height: 300px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
}

h1{
    text-align: center;
}
#estilos{
    display: flex;
    flex-direction: row;
    margin: 300px;
    justify-content: center;

}


.estilo{
    border: none;
    background-color:rgba(0,0,0,0.1);
    height: 100px;
    width: 300px;
    margin-top: 150px;;
    
}

.estilo:hover{
    border: groove black 3px;
}

