@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,500;0,800;1,800&display=swap');

body {
    font-family: 'Wix Madefor Text', sans-serif;
    background-image: url('../Imágenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  
  .contenedor {
    text-align: center;
    color: #29323c;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .boton-inicio {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #29323c;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .boton-inicio:hover {
    background-color: #1d252d;
  }
  
  hr {
    border: 1px solid #29323c;
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
  }
  
  th {
    background-color: #29323c;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contenedor .redes-sociales {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contenedor .redes-sociales li {
    margin: 0 10px;
  }
  
  .contenedor .redes-sociales li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #29323c;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .contenedor .redes-sociales li a:hover {
    background-color: #1d252d;
  }
  
  table.contactos {
    margin-top: 20px;
  }
  